html {
    /* Ensure that the page uses the entire screen */
    min-height: 100%;
    min-width: 100%;
}

.first {
    padding-top: 10vh;
}

.header-text {
    margin-top: 20vh;
    margin-bottom: 15vh;
}

.vmargin {
    color: #fff;
    margin-top: 7vh;
}

.header-text > h1, .header-text > h4, .header-text > p {
    color: #fff;
}

.btn-background-white {
    background-color: #fff !important;
}

.nav .material-icons {
    font-size: 22px !important;
    max-width: 22px !important;
}

.nav form button.btn {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.radio+.radio {
    margin-top: 10px !important;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.input-group span.input-group-addon {
    padding-top: 0;
}

.mdl-snackbar {
    z-index: 100;
}

body {
    background-color: #001b23;
}

.btn-no-margin {
    margin: 0 !important;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ffffff
}

/* Possible iOS bugfix */
button, .btn, .buy {
    cursor: pointer;
}